<mat-card class="application-card" *ngIf="pagina">
  <mat-card-title>Listagem de Processos</mat-card-title>
  <a
    mat-button
    [routerLink]="[-1, 'editar']"
    style="display: block; margin: 2rem 5rem 1rem"
    >Cadastrar processo</a
  >
  <mat-table [dataSource]="pagina.content">
    <!-- NPU -->
    <ng-container matColumnDef="npu">
      <mat-header-cell *matHeaderCellDef> NPU </mat-header-cell>
      <mat-cell *matCellDef="let processo"> {{ processo.npu }} </mat-cell>
    </ng-container>

    <!-- Municipio -->
    <ng-container matColumnDef="ibgeMunicipio">
      <mat-header-cell *matHeaderCellDef> Município </mat-header-cell>
      <mat-cell *matCellDef="let processo">
        {{ processo.ibgeMunicipioNome }}
      </mat-cell>
    </ng-container>

    <!-- Estado -->
    <ng-container matColumnDef="ibgeUf">
      <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
      <mat-cell *matCellDef="let processo">
        {{ processo.ibgeUfNome }} - {{ processo.ibgeUfSigla }}
      </mat-cell>
    </ng-container>

    <!-- Data Cadastro -->
    <ng-container matColumnDef="dataCadastro">
      <mat-header-cell *matHeaderCellDef> Data de Cadastro </mat-header-cell>
      <mat-cell *matCellDef="let processo">
        {{ processo.dataCadastro | date : "dd/MM/yyyy HH:mm" }}
      </mat-cell>
    </ng-container>

    <!-- Data Visualizacao -->
    <ng-container matColumnDef="dataVisualizacao">
      <mat-header-cell *matHeaderCellDef>
        Data de Visualização
      </mat-header-cell>
      <mat-cell *matCellDef="let processo">
        {{ processo.dataVisualizacao | date : "dd/MM/yyyy HH:mm" }}
      </mat-cell>
    </ng-container>

    <!-- Action -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let processo">
        <a mat-button [routerLink]="[processo.id, 'editar']">Editar</a>
        <a mat-button [routerLink]="[processo.id, 'visualizar']"
          >Visualizar</a
        > </mat-cell
      >asdas
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let processo; columns: colunas"></mat-row>
  </mat-table>
  <mat-paginator
    *ngIf="pagina"
    showFirstLastButtons
    [length]="pagina.totalElements"
    [pageSize]="20"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="temp($event)"
  >
  </mat-paginator>
</mat-card>
