<mat-card *ngIf="pronto">
  <mat-card-title *ngIf="processoId === -1">Cadastrar Processo</mat-card-title>
  <mat-card-title *ngIf="processoId !== -1">Editar Processo</mat-card-title>
  <form [formGroup]="form">
    <mat-form-field>
      <input
        matInput
        formControlName="npu"
        placeholder="Número do processo"
        mask="0000000-00.0000.0.00.0000"
        [dropSpecialCharacters]="false"
      />
      <mat-error
        *ngIf="
          form.get('npu')?.hasError('required') ||
          form.get('npu')?.hasError('mask')
        "
        >Preenchimento obrigatório completo no formato
        '0000000-00.0000.0.00.0000'</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-select
        formControlName="ibgeUfId"
        placeholder="Selecione a UF"
        (selectionChange)="cargaMunicipios()"
      >
        <mat-option *ngFor="let uf of ibgeUfs" [value]="uf.id">
          {{ uf.nome }} - {{ uf.sigla }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="form.get('ibgeUfId')?.hasError('min')"
        >Seleção da UF é obrigatória</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-select
        formControlName="ibgeMunicipioId"
        placeholder="Selecione o município"
      >
        <mat-option
          *ngFor="let municipio of ibgeMunicipios"
          [value]="municipio.id"
          >{{ municipio.nome }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="form.get('ibgeMunicipioId')?.hasError('min')"
        >Seleção do município é obrigatória</mat-error
      >
    </mat-form-field>
    <div class="mat-form-field file-upload">
      <label>
        <input type="file" formControlName="arquivoPdf" (change)="capturarArquivo($event)" accept="application/pdf" matTooltip="Escolha o arquivo pdf" />
      </label>
    </div>
    <a mat-button [disabled]="!form.valid" (click)="salvar()">Salvar</a>
    <a mat-button [routerLink]="['/processos']">Voltar para a Grid</a>
  </form>
</mat-card>
